<% provide(:title, @entry.title) %>

<h1><%= @entry.title %></h1>
<div class="card text-center col-8 mx-auto">
  <div class="card-header">
    <i><%= link_to @entry.feed.name, @entry.feed.url %></i>
  </div>
  <div class="card-body">
    <h3 class="card-title"><%= link_to @entry.title, @entry.url %></h3>
    <p><%= link_to "続きを読む", @entry.url, class: "btn btn-primary" %></p>
    <% if @entry.bookmarked_by?(current_user) %>
      <span>
        <%= link_to entry_bookmark_path(@entry), method: :delete do %>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <% end %>
      </span>
    <% else %>
      <span>
        <%= link_to entry_bookmarks_path(@entry), method: :post do %>
          <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
        <% end %>
      </span>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <i> published <%= time_ago_in_words(@entry.published) %> ago.</i>
  </div>
</div>

<% if logged_in? %>
  <div class="col-6 mx-auto">
    <section class="comment-form">
      <%= render 'shared/comment_form' %>
    </section>
    <section>
      <% @comments.each do |comment| %>
        <p><%= link_to comment.user.name, comment.user %></p>
        <p><%= comment.content %></p>
      <% end %>
    </section>
  </div>
  <div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>

