<% provide(:title, @entry.title) %>

<h3><%= link_to @entry.title, @entry.url %></h3>
<i>published on <%= @entry.published %> </i>
<% if @entry.bookmarked_by?(current_user) %>
  <p><%= link_to "ブックマークを外す", entry_bookmark_path(@entry), method: :delete %></p>
<% else %>
  <p><%= link_to "ブックマーク", entry_bookmarks_path(@entry), method: :post %></p>
<% end %>
<% if logged_in? %>
  <div class="col">
    <section>
      <%= render 'shared/comment_form' %>
    </section>
  </div>
<% end %>

<% @comments.each do |comment| %>
 <%= comment.user.name %>
 <%= comment.content %>
<% end %>