<div class="col-8 mx-auto">
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h2 class="card-title"><%= link_to user.name, user %></h2>
      <section class="stats">
        <div class="stats">
          <a href="<%= following_user_path(user) %>">
            <strong id="following" class="stat">
              <%= user.following.count %>
            </strong>
            following
          </a>
          <a href="<%= followers_user_path(user) %>">
            <strong id="followers" class="stat">
              <%= user.followers.count %>
            </strong>
            followers
          </a>
        </div>
      </section>
      <p class="card-text"><%= user.profile %></p>
      <% if logged_in? && user != current_user %>
        <div id="follow_form" style="display: inline-flex">
          <% if current_user.following?(user) %>
            <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),
            html: { method: :delete }, local: false) do |f| %>
            <%= f.submit "Unfollow", class: "btn btn-default" %>
          <% end %>
          <% else %>
            <%= form_with(model: current_user.active_relationships.build, local: false) do |f| %>
              <div class="text-right">
                <%= f.submit "Follow", class: "btn btn-secondary btn-follow" %>
              </div>
              <div><%= hidden_field_tag :followed_id, user.id %></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "削除", user, method: :delete, data: { confirm: "このユーザーを削除しますか？"}, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>